/**
 * @file
 * Styles for breadcrumbs.
 */

/* Supprimer les puces ou marqueurs sur le UL du fil d’Ariane */
nav.breadcrumb ul,
nav.breadcrumb ul li {
  list-style: none !important;
  list-style-type: none !important;
  list-style-image: none !important;
  margin: 0;
  padding: 0;
}

/* Supprimer le marqueur pseudo-élément ajouté par le navigateur */
nav.breadcrumb ul li::marker {
  content: "" !important;
  display: none !important;
}

nav.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  counter-reset: none !important;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

