{{ attach_library('opt_theme/paragraphs') }}

<section class="bloc-documents">
  <div class="bloc-documents__inner">

    {% if content.field_fichiers %}
      <div class="bloc-documents__bg">

        {# Titre à l'intérieur du bloc beige #}
        {% if content.field_titre %}
          <h3 class="bloc-documents__title">
            {{ content.field_titre }}
          </h3>
        {% endif %}

        {# Rendu Drupal des fichiers #}
        {{ content.field_fichiers }}

      </div>
    {% endif %}

  </div>
</section>
